<div id="form" class="mdc-top-app-bar--short-fixed-adjust flex-vertical">
    <div class="mdc-form-field">
        <label class="mdc-text-field">
            <div class="mdc-text-field__ripple"></div>
            <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
            <span class="mdc-floating-label mdc-floating-label--float-above" id="my-label-id">Name</span>
            <div class="mdc-line-ripple"></div>
        </label>
    </div>
    <div id="from" class="mdc-form-field">
        <label class="mdc-text-field">
            <div class="mdc-text-field__ripple"></div>
            <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
            <span class="mdc-floating-label mdc-floating-label--float-above" id="my-label-id">From</span>
            <div class="mdc-line-ripple"></div>
        </label>
    </div>
    <div id="to" class="mdc-form-field">
        <label class="mdc-text-field">
            <div class="mdc-text-field__ripple"></div>
            <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
            <span class="mdc-floating-label mdc-floating-label--float-above" id="my-label-id">To</span>
            <div class="mdc-line-ripple"></div>
        </label>
    </div>
    <div class="mdc-form-field">
        <div class="mdc-radio">
            <input class="mdc-radio__native-control" type="radio" id="radio-1" name="radios" checked>
            <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
            </div>
            <div class="mdc-radio__ripple"></div>
        </div>
        <label for="radio-1">Anual leave</label>
        <div class="mdc-radio">
            <input class="mdc-radio__native-control" type="radio" id="radio-2" name="radios">
            <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
            </div>
            <div class="mdc-radio__ripple"></div>
        </div>
        <label for="radio-2">Special leave</label>
        <div class="mdc-radio">
            <input class="mdc-radio__native-control" type="radio" id="radio-3" name="radios">
            <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
            </div>
            <div class="mdc-radio__ripple"></div>
        </div>
        <label for="radio-3">Blub</label>
    </div>
    <div class="row mdc-form-field">
        <label class="mdc-text-field">
            <div class="mdc-text-field__ripple"></div>
            <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
            <span class="mdc-floating-label mdc-floating-label--float-above" id="my-label-id">Comment</span>
            <div class="mdc-line-ripple"></div>
        </label>
    </div>
</div>
{{!-- <script>
    const textField = new MDCTextField(document.querySelector('.mdc-text-field'));
</script> --}}

{{!-- {
    id: '06e8c6be-0ad6-46e5-952e-1bc3d3cbe856',
    user: "Lennart Klose",
    from: new Date('2020-04-01'),
    to: new Date('2020-12-31'),
    state: 'GRANTED',
    type: 'Compensatory off time',
    comment: 'I worked so hard.'
} --}}